.custom-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    height: auto;
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .custom-btn:hover {
    transform: scale(1.1);
  }
  
  .custom-btn img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .custom-btn span {
    margin-top: 10px;
  }
  
  .custom-btn:hover img {
    content: url("image/Group\ 2.png");
  }

  .container-fluid{
    background-color: #B1C3E5;
    overflow: hidden;
  }
  
.row{
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    font-family: PP NeueBit;
    font-size: 125px;
    color: white;
}

h2 {
    font-family: PP Mondwest;
    font-size: 20px;
    color: white
}

