.container-fluid{
    background-color: #B1C3E5;
    overflow: hidden;
  }
  
  .row{
    margin-right: 40px;
    margin-left: 40px;
  }
  
  h1 {
    font-family: PP NeueBit;
    font-size: 125px;
    color: white;
  }
  
  p {
    font-family: PP Mondwest;
    font-size: 30px;
    color: white;
    line-height: 1.4;
    text-align: justify;
  }

.container{
    border-radius: 10px;
  }