.container-fluid{
    background-color: #B1C3E5;
  }
  
.row{
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    font-family: PP NeueBit;
    font-size: 125px;
    color: white;
}

h2 {
    font-family: PP NeueBit;
    font-size: 50px;
    color: white
}

.btn-primary {
    font-family: PP NeueBit;
    font-size: 25px;
    background-color: #1E55BE;
    color: white;
    align-items: center;
    width: 200px;
}

.botao{
    width: 20px;
    height: 20px;
}

.nav{
    font-family: PP NeueBit;
    font-size: 30px;
}
