.container-fluid {
    background-color: #B1C3E5;
}

.min-height-100 {
    min-height: 100vh;
}

.row {
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    font-family: PP NeueBit;
    font-size: 125px;
    color: white;
}

h2 {
    font-family: PP NeueBit;
    font-size: 50px;
    color: white;
}

.btn-primary {
    font-family: PP NeueBit;
    font-size: 25px;
    background-color: #1E55BE;
    color: white;
    align-items: center;
    width: 200px;
}

.botao {
    width: 20px;
    height: 20px;
}

.nav {
    font-family: PP NeueBit;
    font-size: 30px;
}

header {
    background-image: url("file:///C:/Users/mario/Downloads/Bot%C3%B5es%20Menu.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100vw;
    height: 180px;
}
