.container-fluid{
    background-color: #B1C3E5;
    overflow: hidden;
  }
  
.row{
    margin-right: 40px;
    margin-left: 40px;
}

h1 {
    font-family: PP NeueBit;
    font-size: 125px;
    color: white;
}

.nav{
    font-family: PP NeueBit;
    font-size: 30px;
}
