.container-fluid{
  background-color: #B1C3E5;
  position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.row{
  margin-right: 40px;
  margin-left: 40px;
}

h1 {
  font-family: PP NeueBit;
  font-size: 125px;
  color: white;
}

p {
  font-family: PP Mondwest;
  font-size: 30px;
  color: white;
  line-height: 1.4;
  text-align: justify;
}
  
.btn-primary {
  font-family: PP NeueBit;
  font-size: 25px;
  background-color: #1E55BE;
  color: white;
  align-items: center;
  width: 400px;
  line-height: 1.0;
  text-align:left;
}

.botao{
  width: 20px;
  height: 20px;
}

.nav{
  font-family: PP NeueBit;
  font-size: 30px;
}