<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/sobre.css">
    </head>
    <body>
        <div class="header sticky-top">
            <header class="navbar navbar-expand-md">
                <div class="container d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <a class="navbar-brand" href="index.html">
                            <h1 class="display-1 text-light">DRIVE</h1>
                        </a>
                        <div class="ml-3">
                            <div class="dropdown">
                                <button
                                    class="btn btn-secondary dropdown-toggle"
                                    type="button"
                                    id="languageDropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    <span id="selectedLanguage">POR</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                                    <a class="dropdown-item" href="#">ENG</a>
                                    <a class="dropdown-item" href="#">POR</a>
                                    <a class="dropdown-item" href="#">ESP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button
                        class="navbar-toggler navbar-toggler-white"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-light normal-link active" href="sobre.html" data-lang="about">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link text-light normal-link hover-effect"
                                    href="programa.html"
                                    data-lang="program">Programa</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link text-light normal-link hover-effect"
                                    href="inscricao.html"
                                    data-lang="registration">Inscrição</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link text-light normal-link hover-effect"
                                    href="contactos.html"
                                    data-lang="contacts">Contactos</a>
                            </li>
                            <li class="nav-item">
                                <a
                                    class="nav-link text-light normal-link hover-effect"
                                    href="arquivos.html"
                                    data-lang="files">Arquivos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>

        <div class="menu-fullscreen" style="display: none;">
            <div class="close-menu">&times;</div>
            <ul>
                <li>
                    <a href="sobre.html" data-lang="about">Sobre<span class="menu-bar"></span></a>
                </li>
                <li>
                    <a href="programa.html" data-lang="program">Programa<span class="menu-bar"></span></a>
                </li>
                <li>
                    <a href="inscricao.html" data-lang="registration">Inscrição<span class="menu-bar"></span></a>
                </li>
                <li>
                    <a href="contactos.html" data-lang="contacts">Contactos<span class="menu-bar"></span></a>
                </li>
                <li>
                    <a href="arquivos.html" data-lang="files">Arquivos<span class="menu-bar"></span></a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="display-1" data-lang="about">Sobre</h1>
                        </div>
                        <div class="col-12 col-md-6">
                            <p class="display-6" data-lang="first_text">O DRIVE - Design Related
                                Investigation é um ciclo de conferências promovido pelo Mestrado em Design, da
                                Escola Superior de Media Artes e Design, do Instituto Politécnico do Porto, com
                                um foco nas temáticas da investigação e promovendo o encontro entre
                                investigadores, profissionais e estudantes interessados nas áreas do Design.
                            </p>
                        </div>
                        <div class="col-12 col-md-6 mb-5">
                            <p class="display-6" data-lang="second_text">Convidamos estudantes e
                                investigadores do campo do Design a apresentarem os seus projetos, concluídos ou
                                em curso, num espaço de partilha e divulgação de propostas e resultados de
                                investigação. A edição de 2024 do DRIVE será realizada nos dias 15 a 16 de março
                                na Escola Superior de Media Artes e Design (ESMAD) do Instituto Politécnico do
                                Porto.</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-md-block">
                <img
                    src="images/imagem_2023-05-09_153154199-removebg-preview 1.png"
                    class="w-100 h-auto mt-0"
                    alt="Imagem responsiva">
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <img src="images/Redes Sociais.png" alt="Logotipo" class="logo">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <a href="https://www.facebook.com">
                            <img src="images/facebook.png" alt="Facebook" class="social-logo">
                        </a>
                        <a href="https://www.youtube.com">
                            <img src="images/youtube.png" alt="Youtube" class="social-logo">
                        </a>
                        <a href="https://www.instagram.com">
                            <img src="images/instagram.png" alt="Instagram" class="social-logo">
                        </a>
                        <a href="https://www.linkedin.com">
                            <img src="images/linkedin.png" alt="LinkedIn" class="social-logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <script>
            // Função para alterar o idioma
            function changeLanguage(lang) {
                document.documentElement.lang = lang;

                const translations = {
                    POR: {
                        title: "Drive",
                        about: "Sobre",
                        program: "Programa",
                        registration: "Inscrição",
                        contacts: "Contactos",
                        files: "Arquivos",
                        first_text: "O DRIVE - Design Related Investigation é um ciclo de conferências promovido pe" +
                                "lo Mestrado em Design, da Escola Superior de Media Artes e Design, do Institut" +
                                "o Politécnico do Porto, com um foco nas temáticas da investigação e promovendo" +
                                " o encontro entre investigadores, profissionais e estudantes interessados nas " +
                                "áreas do Design.",
                        second_text: "Convidamos estudantes e investigadores do campo do Design a apresentarem os se" +
                                "us projetos, concluídos ou em curso, num espaço de partilha e divulgação de pr" +
                                "opostas e resultados de investigação. A edição de 2024 do DRIVE será realizada" +
                                " nos dias 15 a 16 de março na Escola Superior de Media Artes e Design (ESMAD) " +
                                "do Instituto Politécnico do Porto."
                    },
                    ENG: {
                        title: "Drive",
                        about: "About",
                        program: "Program",
                        registration: "Registration",
                        contacts: "Contacts",
                        files: "Files",
                        first_text: "DRIVE - Design Related Investigation is a cycle of conferences promoted by the" +
                                " Master in Design, from the Escola Superior de Media Artes e Design, from the " +
                                "Instituto Politécnico do Porto, with a focus on research themes and promoting " +
                                "the meeting between researchers, professionals and interested students in the " +
                                "areas of Design.",
                        second_text: "We invite students and researchers in the field of Design to present their pro" +
                                "jects, completed or in progress, in a space for sharing and disseminating prop" +
                                "osals and research results. The 2024 edition of DRIVE will be held from March " +
                                "15th to 16th at the Escola Superior de Media Artes e Design (ESMAD) of the Pol" +
                                "ytechnic Institute of Porto."
                    },
                    ESP: {
                        title: "Drive",
                        about: "Sobre",
                        program: "Programa",
                        registration: "Inscripción",
                        contacts: "Contactos",
                        files: "Archivos",
                        first_text: "DRIVE - Design Related Investigation es un ciclo de conferencias promovido por" +
                                " el Máster en Diseño, de la Escola Superior de Media Artes e Design, del Insti" +
                                "tuto Politécnico do Porto, con foco en temas de investigación y promoviendo el" +
                                " encuentro entre investigadores, profesionales e interesados estudiantes en la" +
                                "s áreas de Diseño.",
                        second_text: "Invitamos a estudiantes e investigadores en el campo del Diseño a presentar su" +
                                "s proyectos, terminados o en proceso, en un espacio de intercambio y difusión " +
                                "de propuestas y resultados de investigación. La edición 2024 de DRIVE se lleva" +
                                "rá a cabo del 15 al 16 de marzo en la Escola Superior de Media Artes e Design " +
                                "(ESMAD) del Instituto Politécnico de Oporto."
                    }
                };

                // Armazenar o idioma selecionado no localStorage
                localStorage.setItem("selectedLanguage", lang);

                // Atualizar os textos traduzidos
                const translatedTexts = translations[lang];
                document
                    .getElementById('selectedLanguage')
                    .innerText = lang;

                // Percorrer todos os elementos com o atributo data-lang e atualizar os textos
                // correspondentes
                const elementsWithLang = document.querySelectorAll('[data-lang]');
                elementsWithLang.forEach(function (element) {
                    const key = element.getAttribute('data-lang');
                    if (translatedTexts.hasOwnProperty(key)) {
                        element.innerText = translatedTexts[key];
                    }
                });
            }

            // Recuperar o idioma selecionado do localStorage
            const selectedLanguage = localStorage.getItem("selectedLanguage");
            if (selectedLanguage) {
                changeLanguage(selectedLanguage);
            }

            // Adicionando um ouvinte de evento após o carregamento completo do documento
            // HTML
            document.addEventListener('DOMContentLoaded', function () {
                const dropdownButton = document.querySelector("#languageDropdown");
                const dropdownMenu = document.querySelector(".dropdown-menu");
                const languageDropdownItems = document.querySelectorAll(
                    ".dropdown-menu a.dropdown-item"
                );
                const selectedLanguage = document.querySelector("#selectedLanguage");

                dropdownButton.addEventListener("click", function () {
                    dropdownMenu
                        .classList
                        .toggle("show");
                });

                languageDropdownItems.forEach(function (item) {
                    item.addEventListener("click", function (e) {
                        e.preventDefault();
                        var lang = item.innerText;
                        changeLanguage(lang);
                        dropdownMenu
                            .classList
                            .remove("show");
                    });
                });

                var hamburgerButton = document.querySelector('.navbar-toggler');
                var menuFullscreen = document.querySelector('.menu-fullscreen');
                var closeMenuButton = document.querySelector('.close-menu');

                hamburgerButton.addEventListener('click', function () {
                    menuFullscreen.style.display = 'flex';
                });

                closeMenuButton.addEventListener('click', function () {
                    menuFullscreen.style.display = 'none';
                });
            });
        </script>
    </body>
</html>